from setuptools import setup, find_packages
import os

def local_scheme(version):
    if os.environ.get("IS_PULL_REQUEST"):
        return f".dev{os.environ['GITHUB_RUN_ID']}"
    else:
        return ""

with open("README.md", "r", encoding="utf-8") as fh:
    long_description = fh.read()

setup(
    name='your-package-name',
    use_scm_version={"local_scheme": local_scheme},
    long_description=long_description,
    long_description_content_type='text/markdown',
    packages=find_packages(),
    include_package_data=True,
    install_requires=[
        'Jinja2',
    ],
    entry_points={
        'console_scripts': [
            'your-command=your_package.main:main',
        ],
    },
)
